.filter-blog{
  display: block;
  font-style: italic;
  font-family: arno-pro;
}

.search-bar{
  border-bottom: 1px solid $blue;
  font-family: arno-pro;
  position: relative;
}

.search-bar > div{
  font-family: arno-pro;
  font-style: italic;
  padding: 7.5px 0;
}

.search-bar > div:after{
  content: "v";
  position: absolute;
  right: 15px;
}

.search-bar > ul {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
  width: 100%;
  z-index: 1;
}

.search-bar.state-opened > ul {
  max-height: 300px;
}

.search-bar > ul > li {
  background: $light-purple;
  border-bottom: 1px solid $blue;
  display: block;
  padding: 7.5px 0;
  font-family: arno-pro;
  font-style: italic;
}

.blog-post{
  padding-top: 30px;
  text-align: center;
}

.blog-post > h3{
  margin: 0 auto;
  padding: 7.5px 0;
  width: 80%;
}

.blog-post > p{
  margin-top: 0;
  margin-bottom: 12.5px;
}

.post > .image-cont{
  background-size: cover;
  background-position: center;
  height: 200px;
}