@-webkit-keyframes fadein{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#blog-page{
  @media(min-width:1024px){
    padding-top: 120px;
  }
}

#blog-page > .search-bar {
  width: calc(100% - 55px);
  z-index: 1;
  @media(min-width:768px){
    border-bottom: 0;
  }
}

#blog-page > .search-bar > ul {
  @media(min-width:768px){
    max-height: none;
    overflow: visible;
    text-align: right;
  }
}

#blog-page > .search-bar > ul > li,
#blog-page > .search-bar > ul > li.state-active {
  @media(min-width:768px){
    border-bottom: 0;
    display:inline-block;
  }
}

#blog-page > .search-bar > ul > li:not(:last-of-type):after{
  @media(min-width:768px){
    content: " /";
    color: #8f8aff;
    font-family: none;
    font-size: 14px;
  }
}

#blog-page > .search-bar > ul > li > a {
  @media(min-width:768px){
    color: #8f8aff;
    display:inline-block;
    font-family: Walsheim;
    font-style: normal;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 1.5px;
    padding-left:2px;
    text-transform: uppercase;
    transition: 0.3s;
  }
}

@-webkit-keyframes scrub{
  0%{
  -webkit-transform: translate(0px, 5px);
      -ms-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
  }
  25%{
  -webkit-transform: translate(0px, -2.5px);
      -ms-transform: translate(0px, -2.5px);
          transform: translate(0px, -2.5px);
  }
  50%{
  -webkit-transform: translate(0px, 2.5px);
      -ms-transform: translate(0px, 2.5px);
          transform: translate(0px, 2.5px);
  }
  75%{
  -webkit-transform: translate(0px, -1px);
      -ms-transform: translate(0px, -1px);
          transform: translate(0px, -1px);
  }
  100%{
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  }
}

#blog-page > .search-bar > ul > li:hover > a,
#blog-page > .search-bar > ul > li.state-active > a {
  @media(min-width:768px){
    animation: scrub 1s linear;
    -webkit-animation: scrub 1s linear;
    color: $blue;
    display:inline-block;
  }
}

#blog-page > .search-bar > div {
  @media(min-width:768px){
    display:none;
  }
}

#client-post-container{
  @media(min-width:768px){
    margin-top: 15px;
  }
}

#dynamic-content-services{
  @media(min-width:768px){
    margin-top: 150px;
    transition: 1s;
  }
}

.post.client-post{
  @media(min-width:768px){
    display:inline-block;
    margin-bottom: 30px;
    padding-top: 0;
    vertical-align: top;
    width: calc(50% - 8px);
    &:nth-of-type(odd){margin-right: 5px;}
    &:nth-of-type(even){margin-left: 5px;}
  }
}

.post-overlay{
  @media(min-width:768px){
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    height: 100%;
    width: 100%;
  }
  @media(min-width:1024px){
    padding-left: 15px;
    position: absolute;
      top: 0;
      left: 0;
  }
}

.post-overlay:before{
  @media(min-width:768px){
    content: "";
    mix-blend-mode: multiply;
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }
  @media(min-width:1024px){
    background: rgba(68, 60, 255, 0.8);
    opacity: 0;
    transition: 0.3s;
  }
}

.client-post:hover > .post-overlay:before{
   @media(min-width:1024px){
    opacity: 1;
  }
}

.client-post:hover > .post-overlay > h3.post-excerpt{
   @media(min-width:1024px){
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.client-post:hover > .post-overlay > h3.post-title{
   @media(min-width:1024px){
    opacity: 1;
  }
}

.client-post:hover > .post-overlay > div >li{
   @media(min-width:1024px){
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    &:nth-of-type(1){transition-delay:0.3s}
    &:nth-of-type(2){transition-delay:0.6s}
    &:nth-of-type(3){transition-delay:0.9s}
    &:nth-of-type(4){transition-delay:1.2s}
    &:nth-of-type(5){transition-delay:1.5s}
    &:nth-of-type(6){transition-delay:1.8s}
  }
}

.post-overlay *{
  @media(min-width:768px){
    position: relative;
    z-index: 1;
  }
  @media(min-width:1024px){
    color: white;
  }
}

.post-overlay > h3.post-excerpt {
  display: none;
  @media(min-width:768px){
    display: block;
    font-size: 18px;
    line-height: 1.15;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 90%;
  }
  @media(min-width:1024px){
    font-size: 32px;
    opacity: 0;
    transition: 1s;
    -webkit-transform: translate(0px, 45px);
        -ms-transform: translate(0px, 45px);
            transform: translate(0px, 45px);
  }
}

.post-overlay > h3.post-title {
  margin-top: 10px;
  @media(min-width:768px){
    font-size: 10px;
    letter-spacing: 1.5px;
    font-weight: 900;
    margin-top: 15px;
    text-transform: uppercase;
  }
  @media(min-width:1024px){
    font-size: 11px;
    opacity: 0;
    transition: 1s;
  }
}

.post-overlay > div {
  @media(min-width:1024px){
    overflow:hidden;
  }
}

.post-overlay > div > li{
  @media(min-width:768px){
    font-size: 15px;
  }
  @media(min-width:1024px){
    transition: 1s;
    transition-delay: 0s;
    -webkit-transform: translate(0px, 45px);
        -ms-transform: translate(0px, 45px);
            transform: translate(0px, 45px);
  }
}

.post-overlay > div > li:not(:last-of-type):after{
  content: ",";
}


.filter-blog{
  display: block;
  font-style: italic;
  font-family: arno-pro;
}

.filter-section[data-taxonomy="industries"]{
  background: #cecdfd;
}

.filter-section .search-bar{
  margin-top: 7.5px;
}

.search-bar{
  border-bottom: 1px solid $blue;
  font-family: arno-pro;
  font-size: 16px;
  position: relative;
}

.search-bar * {
  font-family: arno-pro;
  text-transform: capitalize;
}

.search-bar > div{
  font-style: italic;
  padding: 7.5px 0;
}

.search-bar > div > .img-responsive{
  height: 10px;
  position: absolute;
    right: 0;
    top: 15px;
}

.search-bar > ul {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
  width: 100%;
  z-index: 1;
}

.search-bar.state-opened > ul {
  max-height: 300px;
}

.search-bar > ul > li {
  border-bottom: 1px solid $blue;
  display: block;
  padding: 7.5px 0;
  font-style: italic;
}

.search-bar > ul > li.state-active{
  display:none;
}

.search-bar > ul > li:last-of-type{
  border-bottom: 0;
}

.search-bar > ul > li > a{
  display:block;
}

.post.blog-post{
  text-align: center;
  @media(min-width:768px){
    padding-top: 60px;
  }
  @media(min-width:1024px){
    padding-top: 100px;
  }
}

.blog-post > p{
  margin-top: 0;
  margin-bottom: 12.5px;
  @media(min-width:768px){
    margin-bottom: 20px;
  }
}

.blog-post > h3{
  font-weight: 600;
  width: 80%;
  @media(min-width:768px){
    width: 70%;
  }
  @media(min-width:1024px){
    width: 500px;
  }
}

#blog-post-container {
  animation: 1s fadein linear;
  -webkit-animation: 1s fadein linear;
  @media(min-width:1024px){
    margin: 0 auto;
    max-width: 66%;
  }
}

#blog-post-container > .blog-post > div:first-of-type{
  @media(min-width:768px){
    bottom: -30px;
    width: 100%;
  }
}

.client-post > div > li:not(:last-of-type):after {
  content: ", ";
}

#client-post-container{
  animation: 1s fadein linear;
  -webkit-animation: 1s fadein linear;
}

@-webkit-keyframes postappear{
  0%{
    -webkit-transform: translate(0px, 10px);
        -ms-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
  }
  100%{
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.post{
  animation: 1s postappear linear;
  -webkit-animation: 1s postappear linear;
  padding-top: 30px;
  position: relative;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  top: 0;
}

.post > h3{
  margin: 0 auto;
  padding: 7.5px 0;
  @media(min-width:1024px){
    font-size: 36px;
  }
}

.post > .image-cont{
  background-size: cover;
  background-position: center;
  display: block;
  height: 60vw;
  position: relative;
}

.blog-post > .image-cont{
  @media(min-width:768px){
    background: none !important;
    display: inline-block;
    height: auto;
    width: auto;
    margin: 0 auto;
  }
}

.client-post > .image-cont{
  @media(min-width:768px){
    height: 26.5vw;
  }
  @media(min-width:1200px){
    height: 318px;
  }
}

.post > .image-cont > img:not(.desktop-image) {
  background-color: #8f8aff;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
    right: 15px;
    bottom: 15px;
  height: 40px;
  width: 40px;
  @media(min-width:768px){
    display: none;
  }
}

.post > .image-cont > img.desktop-image {
  @media(min-width:768px){
    height: auto;
    width: auto;
    max-height: 400px;
    max-width: 400px;
    margin: 0 auto;
  }
  @media(min-width:1024px){
    max-height: 500px;
    max-width: 500px;
  }
}

.post > .image-cont > img.desktop-image,
.post > .image-cont > img.icon {
  display: none;
  @media(min-width:768px){
    display: block;
  }
}

.post > .image-cont > img.icon {
  @media(min-width:768px){
    height: 100px;
    width: 100px;
    position: absolute;
      margin-left: -50px;
    z-index: 2;
  }
}

.pagination{
  -webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  @media(min-width:1024px){
    width: 50%;
    margin: 0 auto;
  }
}

.pagination > a {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #8f8aff;
    border-radius: 50%;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 10px;
    height: 40px;
    width: 40px;
  @media(min-width:1024px){
    height: 60px;
    padding: 15px;
    width: 60px;
  }
}

.pagination > .pagenums {
  border: 1px solid;
  border-bottom: 0;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.pagination > .pagenums > div > span {
  font-family: arno-pro;
  font-style: italic;
}

.pagination > .pagenums > .pagenums-dropdown{
  border-top: 1px solid;
  margin-top: 5px;
  margin-left: -15px;
  margin-right: -15px;
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}

.pagination > .pagenums:hover > .pagenums-dropdown{
  max-height: 200px;
}

.pagination > .pagenums > .pagenums-dropdown > a {
  border-bottom: 1px solid;
  display: block;
  font-family: arno-pro;
  font-style: italic;
  padding: 5px 15px;
  transition: 0.3s;
}

.pagination > .pagenums > .pagenums-dropdown > a.active{
  background: #8f8aff;
}

.filter-menu {
  margin-left: -15px;
  margin-right: -15px;
  @media(min-width:768px){
    margin-left: -30px;
    margin-right: -30px;
  }
  @media(min-width:1024px){
    margin-left: -45px;
    margin-right: -45px;
  }
  @media(min-width:1200px){
    margin-left: calc((100vw - 1110px) / -2);
  }
}

.filter-menu > a{
  background: $light-purple;
  display: inline-block;
  padding: 15px 75px 15px 15px;
  transition: 0.3s;
  @media(min-width: 768px){
    padding: 15px 60px 15px 30px;
  }
  @media(min-width: 1024px){
    padding: 15px 60px 15px 45px;
  }
}

.filter-menu > a:not(.active):focus,
.filter-menu > a:not(.active):hover{
  @media(min-width:768px){
    -webkit-box-shadow: inset 0px 0px 35px 0px rgba(68,60,255,0.3);
    -moz-box-shadow: inset 0px 0px 35px 0px rgba(68,60,255,0.3);
    box-shadow: inset 0px 0px 35px 0px rgba(68,60,255,0.3);
  }
}

.filter-menu > a:first-of-type{
  @media(min-width:1200px){
    padding-left: calc((100vw - 1110px) / 2);
  }
}

.filter-menu > a:nth-of-type(even){
  background: #cecdfd;
}

.filter-menu > a:last-of-type{
  width: 100%;
}

#portfolio-page{
  overflow-x: hidden;
}

#portfolio-page > .search-bar {
  @media(min-width:768px){
    border-bottom: 0;
    margin-top: 15px;
  }
}

#portfolio-page > .search-bar > div{
  @media(min-width:768px){
    display: none;
  }
}

#portfolio-page > .search-bar > ul{
  @media(min-width:768px){
    max-height: none;
    overflow: visible;
    position: relative;
  }
}

#portfolio-page > .search-bar > ul > li{
  @media(min-width:768px){
    border-bottom: 0;
    display: inline-block;
    margin-right: 12px;
  }
}

#portfolio-page > .search-bar > ul > li > a {
  @media(min-width:768px){
    font-style: normal;
    font-size: 13px;
    font-family: Walsheim;
    overflow:hidden;
    padding-bottom: 3px;
    position: relative;
  }
  @media(min-width:1024px){
    font-size: 16px;
  }
}

#portfolio-page > .search-bar > ul > li > a:after{
  @media(min-width:768px){
    animation: none;
    background: $blue;
    content: "";
    height: 1px;
    position: absolute;
      bottom: 0;
      left: 0;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    width: 100%;
  }
}

#portfolio-page > .search-bar > ul > li > a:hover:after{
  @media(min-width:768px){
    animation: slideIn 1s infinite linear;
    -webkit-animation: slideIn 1s infinite linear;
    height: 2px;
  }
}

#portfolio-page > .search-bar > ul > li.state-active > a:after{
  @media(min-width:768px){
    animation: none;
    height: 2px;
    -webkit-animation: none;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

#portfolio-page > .search-bar > ul > li > p{
  display: none;
  @media(min-width:768px){
    display: block;
    font-style: normal;
    left: 0;
    opacity: 0;
    padding-top: 15px;
    position: absolute;
    text-transform: none;
    transition: 1s;
    width: 70%;
  }
}

#portfolio-page > .search-bar > ul > li.state-active > p {
  @media(min-width:768px){
    opacity: 1;
  }
}

#search-by-title{
  position:absolute;
  left: 15px;
  right: 15px;
  top: 90px;
  text-align: right;
  transition-delay: 0.3s;
  z-index: 0;
  @media(min-width:768px){
    top:125px;
    left: auto;
    right: 30px;
    width: 375px;
  }
  @media(min-width:1024px){
    top: 120.5px;
    right: 45px;
  }
  @media(min-width:1200px){
    right: calc((100vw - 1110px) / 2);
  }
}

 #search-by-title:hover,
 #search-by-title:focus,
 #search-by-title.state-active{
  z-index: 1;
  transition-delay: 0s;
}

#search-by-title > form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#search-by-title > form > div {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0;
}

#search-by-title:hover > form > div,
 #search-by-title:focus > form > div,
 #search-by-title.state-active > form > div {
  height: 0;
  transition-delay: 0.3s;
}

#search-by-title > form > input[type="text"] {
  border: 0;
  margin: 0;
  padding: 0;
  width: 0;
  transition: 0.3s;
  transition-delay: 0s;
}

#search-by-title:hover > form > input[type="text"],
#search-by-title:focus > form > input[type="text"],
#search-by-title.state-active > form > input[type="text"] {
  padding-left: 10px;
  width: calc(100% - 40px);
  transition-delay: 0.3s;
}

#search-by-title > form > input[type="text"]::-webkit-input-placeholder {
  color: rgba(68,60,255, 0.4);
}

#search-by-title > form > input[type="text"]:hover::-webkit-input-placeholder {
  color: transparent;
}

#search-by-title > form > input[type="submit"] {
  background-color: #8f8aff;
  background-image: url('./dist/icons/search.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 50%;
  border: 0;
  padding: 10px;
  height: 40px;
  width: 40px;
  transition: 0.3s;
  transition-delay: 0.3s;
}

#search-by-title:hover > form > input[type="submit"],
#search-by-title:focus > form > input[type="submit"],
#search-by-title.state-active > form > input[type="submit"] {
  border-radius: 0;
  transition-delay: 0s;
}