footer section{
  position: relative;
  padding-bottom: 1px;
}

.big-icons-container{
  display:flex;
  @media(min-width:768px){
    display: block;
    margin-top: 30px;
  }
}

.big-icon-container{
  align-items: center;
  background: #8f8aff;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 50%;
  @media(min-width:768px){
    background: none;
    display: block;
    padding: 0 0;
  }
}

.big-icon-container > h3 {
  display: none;
  @media(min-width:768px){
    color: white;
    display: block;
  }
}

.big-icon-container .img-responsive {
  height : 60px;
  @media(min-width:768px){
    display:none;
  }
}

#copyright {
  font-family: Walsheim;
  margin: 15px 0;
  text-align: center;
  width: 100%;
  @media(min-width:768px){
    margin: 0;
    position: absolute;
      right: 30px;
      bottom: 30px;
    width: auto;
  }
}

.small-icon{
  height: 50%;
}

.small-icon-container{
  align-items: center;
  background: #7c77ff;
  display: flex;
  justify-content: space-around;
  width: 25%;
  padding: 8% 0;
  @media(min-width:768px){
    background: none;
    margin-top: 90px;
    padding: 0 30px 0 0;
    width: auto;
  }
}

.small-icons-container .img-responsive{
  height: 25px;
}

.small-icons-container{
  display:flex;
  @media(min-width:768px){
    padding-bottom: 30px;
  }
}