#ampersand-cont {
  align-items: center;
  background: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
    height: 60px;
    width: 60px;
  position: relative;
  transition: 0.5s;
}

#purple-ampersand {
  height: 40px;
  position: relative;
  top: -1px;
  transition: 0.5s;
  -webkit-transform: rotateZ(0deg);
      -ms-transform: rotate(0deg);
          transform: rotateZ(0deg);
}

#white-ampersand {
  height: 40px;
  opacity: 0;
  position: absolute;
    top: 9px;
    left: 5px;
  transition: 0.5s;
  -webkit-transform: rotateZ(0deg);
      -ms-transform: rotate(0deg);
          transform: rotateZ(0deg);
}

.hamburger{
  bottom: 2px;
  position: relative;
  width: 24px;
}

.hamburger > span{
  background: $blue;
  display: block;
  margin-top: 7px;
  position: relative;
  height: 1px;
  width: 100%;
  transition: top 0.3s linear 0.3s, -webkit-transform 0.3s linear 0s;
  transition: top 0.3s linear 0.3s, transform 0.3s linear 0s;
  transition: top 0.3s linear 0.3s, transform 0.3s linear 0s, -webkit-transform 0.3s linear 0s;
  &:first-of-type{
    top: 0px;
    -webkit-transform: rotateZ(0deg);
        -ms-transform: rotate(0deg);
            transform: rotateZ(0deg);
   }
  &:nth-of-type(2){
    -webkit-transform: rotateZ(0deg);
        -ms-transform: rotate(0deg);
            transform: rotateZ(0deg);
  }
  &:last-of-type{
    top: 0px;
    -webkit-transform: rotateZ(0deg);
        -ms-transform: rotate(0deg);
            transform: rotateZ(0deg);
  }
}

.hamburger.alternate > span {
  background: white;
}

.hamburger.state-closed > span{
  transition: top 0.3s linear 0s, -webkit-transform 0.3s linear 0.3s;
  transition: top 0.3s linear 0s, transform 0.3s linear 0.3s;
  transition: top 0.3s linear 0s, transform 0.3s linear 0.3s, -webkit-transform 0.3s linear 0.3s;
  &:first-of-type{
  top: 8px;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
  }
  &:nth-of-type(2){
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
  }
  &:last-of-type{
  top: -8px;
  -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotateZ(-45deg);
  }
}

.hamburger.portfolio-hamburger{
  top: -4.5px;
}

.hamburger.portfolio-hamburger > span{
  background: white;
}

#menu{
  display: none;
  @media(min-width:1024px){
    align-items: flex-end;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
      left: 0;
      right: 0;
      top: 0;
    transition: 1s;
    z-index: 20000;
  }
  @media(min-width:1200px){
    padding-left: calc((100vw - 1110px) / 2);
    padding-right: calc((100vw - 1110px) / 2);
  }
}

#menu h1{
  @media(min-width:768px){
    font-size: 40px
  }
  @media(min-width:1024px){
    font-size: 50px
  }
}

#menu > a{
  transition: 0.5s;
}

#menu > a:first-of-type{
  margin-right: -5px;
}

#menu > a:last-of-type{
  margin-left: -5px;
}

#menu:hover > a:first-of-type,
#menu.state-active > a:first-of-type,
#menu.force-state-toggled > a:first-of-type{
  margin-right: 0px;
}

#menu:hover > a:last-of-type,
#menu.state-active > a:last-of-type,
#menu.force-state-toggled > a:last-of-type{
  margin-left: 0px;
}

#menu > ul {
  overflow: hidden;
  max-width: 0;
  padding-bottom: 6.5px;
  transition: 0.5s;
  white-space: nowrap;
}

#menu:hover > ul,
#menu.state-active > ul,
#menu.force-state-toggled > ul{
  max-width: 230px;
}

#menu > ul > a {
  font-size: 20px;
  &:first-of-type{
    padding-left: 15px;
    padding-right: 7.5px;
    @media(min-width:1024px){
      padding-right: 7.5px;
      padding-left: 20px;
    }
  }
  &:last-of-type{
    padding-left: 7.5px;
    padding-right: 15px;
    @media(min-width:1024px){
      padding-left: 7.5px;
      padding-right: 20px;
    }
  }
}

#menu > .overlay {
  background: white;
  pointer-events: none;
  transition: 0.3s;
}

#menu.state-see-through > .overlay{
  -webkit-transform: translate(0, -120px);
      -ms-transform: translate(0, -120px);
          transform: translate(0, -120px);
}

#menu.force-state-toggled > .overlay,
#menu.state-see-through.state-toggled > .overlay{
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

#menu:hover > #ampersand-cont,
#menu.state-active > #ampersand-cont,
#menu.force-state-toggled > #ampersand-cont {
  background: $blue;
}

#menu:hover > #ampersand-cont > #purple-ampersand,
#menu.state-active > #ampersand-cont > #purple-ampersand,
#menu.force-state-toggled > #ampersand-cont > #purple-ampersand {
  -webkit-transform: rotateZ(360deg);
      -ms-transform: rotate(360deg);
          transform: rotateZ(360deg);
  opacity: 0;
}

#menu:hover > #ampersand-cont > #white-ampersand,
#menu.state-active > #ampersand-cont > #white-ampersand,
#menu.force-state-toggled > #ampersand-cont > #white-ampersand {
  -webkit-transform: rotateZ(360deg);
      -ms-transform: rotate(360deg);
          transform: rotateZ(360deg);
  opacity: 1;
}

#mobile-menu{
  -webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
  background: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
        justify-content: space-between;
  padding: 15px;
  position: fixed;
    left: 0;
    top: 0;
  transition: 1s;
  width: 100%;
  z-index: 30003;
  @media(min-width:768px){
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media(min-width:1024px){
    display: none;
  }
}

#mobile-menu.state-hidden{
  top: -100%;
}

#mobile-menu-logo{
}

#mobile-menu-logo > h1{
  display: inline-block;
  font-size: 32px;
  width: auto;
  @media(min-width:425px){
    font-size: 42px;
  }
}

#mobile-menu-logo > img{
  top: 1px;
  display: inline-block;
  height: 25px;
  padding-left: 5px;
  padding-right: 3px;
  position: relative;
  vertical-align: initial;
  @media(min-width:425px){
    height:32px;
  }
}

#mobile-menu-sidebar{
  background: $blue;
  padding-left: 15px;
  padding-top: 15px;
  position: fixed;
  width: 100%;
    bottom: 0;
    top: 0;
    left: 60px;
  transition: 0.5s;
  transition-delay: 0.3s;
  -webkit-transform: translate(100vw, 0px);
      -ms-transform: translate(100vw, 0px);
          transform: translate(100vw, 0px);
  @media(min-width:768px){
    left: 120px;
    padding-left: 30px;
    padding-top: 45px;
  }
}

#mobile-menu-sidebar > .overlay {
  background: $blue;
  opacity: 0.6;
  position: fixed;
  pointer-events: none;
  transition: 0.3s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  z-index: -1;
}

#mobile-menu-sidebar.state-opened{
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  transition-delay: 0s;
}

#mobile-menu-sidebar.state-opened > .overlay{
  pointer-events: auto;
  transition-delay: 0.5s;
  -webkit-transform: translate(-60px, 0px);
      -ms-transform: translate(-60px, 0px);
          transform: translate(-60px, 0px);
  @media(min-width:768px){
  -webkit-transform: translate(-120px, 0px);
      -ms-transform: translate(-120px, 0px);
          transform: translate(-120px, 0px);
  }
}


#mobile-menu-sidebar a,
#mobile-menu-sidebar h1{
  color: white;
  font-family: Walsheim;
  text-transform: lowercase;
}

#mobile-menu-sidebar h1 {
  font-size: 20px;
  @media(min-width:425px){
    font-size: 26px;
  }
  @media(min-width:768px){
    font-size: 30px;
  }
}

#mobile-menu-sidebar li{
  display: block;
  padding: 5px 0px;
}

#mobile-menu-sidebar > ul{
  padding: 15px 0px;
}

#mobile-menu-sidebar .inner-menu {
  background: #7c77ff;
  max-height: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -15px;
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  transition: 0.3s;
  @media(min-width:768px){
    margin-left: -30px;
    padding-left: 30px;
  }
}

#mobile-menu-sidebar .inner-button.active .inner-menu {
  margin-top: 15px;
  margin-bottom: 15px;
  max-height: 600px;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}

#mobile-menu-sidebar .inner-inner-menu {
  background: #8f8aff;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -15px;
  max-height: 0;
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  transition: 0.3s;
  @media(min-width:768px){
    margin-left: -30px;
    padding-left: 30px;
  }
}

#mobile-menu-sidebar .inner-inner-button.active .inner-inner-menu {
  margin-top: 15px;
  margin-bottom: 15px;
  max-height: 250px;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}

#mobile-menu-sidebar .inner-inner-button:last-of-type.active .inner-inner-menu{
  margin-bottom: -17px;
}

#portfolio-header{
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

#portfolio-header > p.title{
  margin-top: 0;
  margin-left: 10px;
  max-width: 0;
  overflow: hidden;
}

#portfolio-menu.state-opened > #portfolio-header > p.title {
  color: white;
  max-width: 100px;
  transition: 0.3s;
  transition-delay: 0.3s;
}

#portfolio-menu{
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #8f8aff;
  display:none;
  -webkit-flex-direction:column;
      -ms-flex-direction:column;
          flex-direction:column;
  min-width: 140px;
  padding-top: 15px;
  position: fixed;
  right: -103px;
  top: 68px;
  transition: 0.3s;
  z-index: 9999;
  @media(min-width:425px){
    top: 80px;
  }
  @media(min-width:768px){
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 90px;
  }
  @media(min-width:1024px){
    top: 120px;
    right: -95px;
  }
}

#portfolio-menu.state-opened{
  right: 0;
}

#portfolio-menu > a {
  background: #ecebfe;
  color: $blue;
  padding: 12px;
  position: relative;
  width: 100%;
}

#portfolio-menu > a > .default_url{
  display:inline-block;
}

#portfolio-menu.state-opened > a > .default_url {
  display:none;
}

#portfolio-menu > a > .full_url {
  display:none;
}

#portfolio-menu.state-opened > a {
  min-width: 200px;
  text-align: center;
}

#portfolio-menu.state-opened > a > .full_url{
  display:inline-block;
}

#portfolio-menu > ul {
  overflow: hidden;
  max-height: 0;
  padding-left: 15px;
  padding-bottom: 0;
  padding-right: 15px;
  transition: 0.3s;
  transition-delay: 0.3s;
  width: 100%;
}

#portfolio-menu.state-opened > ul{
  max-height: 125px;
  padding-bottom: 15px;
}

#portfolio-menu > ul > a {
  color: white;
  display: block;
  font-size: 16px;
  padding-bottom: 4px;
}

#services-dropdown{
  display: none;
}

#services-dropdown > .service-term-cont {
  background: #8f8dfc;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
            -ms-flex-pack: center;
  padding: 0 30px;
  position: relative;
  width: 100%;
  z-index: 2;
  @media(min-width:1024px){
    padding-left: calc((100vw - 1110px) / 2);
    padding-right: calc((100vw - 1110px) / 2);
  }
}

  #services-dropdown:before {
    background: #8f8dfc;
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
      top: -7.5px;
      left: 290px;
    -webkit-transform: translate(0px, 20px) rotateZ(45deg);
        -ms-transform: translate(0px, 20px) rotate(45deg);
            transform: translate(0px, 20px) rotateZ(45deg);
    transition: 0.5s;
    transition-delay: 0s;
    z-index: 1;
    @media(min-width:1200px){
      left: calc(((100vw - 1110px) / 2) + 250px);
    }
  }

@-webkit-keyframes sway{
  0%{
    -webkit-transform: translate(-45px, 0px) rotateZ(45deg);
        -ms-transform: translate(-45px, 0px) rotateZ(45deg);
            transform: translate(-45px, 0px) rotateZ(45deg);
  }
  25%{
    -webkit-transform: translate(30px, 0px) rotateZ(45deg);
        -ms-transform: translate(30px, 0px) rotateZ(45deg);
            transform: translate(30px, 0px) rotateZ(45deg);
  }
  50%{
    -webkit-transform: translate(-15px, 0px) rotateZ(45deg);
        -ms-transform: translate(-15px, 0px) rotateZ(45deg);
            transform: translate(-15px, 0px) rotateZ(45deg);
  }
  75%{
    -webkit-transform: translate(7.5px, 0px) rotateZ(45deg);
        -ms-transform: translate(7.5px, 0px) rotateZ(45deg);
            transform: translate(7.5px, 0px) rotateZ(45deg);
  }
  100%{
    -webkit-transform: translate(0px, 0px) rotateZ(45deg);
        -ms-transform: translate(0px, 0px) rotateZ(45deg);
            transform: translate(0px, 0px) rotateZ(45deg);
  }
}


@media(min-width:1024px){

  #services-dropdown {
    display: block;
    opacity: 0;
    position: fixed;
      top: 120px;
      left: 0;
      right: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 19999;
  }

  #services-dropdown.state-active,
  #services-dropdown:target{
    animation: dropdown 1s;
    animation-direction: normal;
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    z-index: 20000;
  }

  #services-dropdown.state-active:before{
    -webkit-transform: translate(0px, 0px) rotateZ(45deg);
        -ms-transform: translate(0px, 0px) rotate(45deg);
            transform: translate(0px, 0px) rotateZ(45deg);
    transition: 0.5s;
    transition-delay: 0.5s;
  }

  #services-dropdown a {
    display: block;
    text-align: center;
  }

  .service-subterm-cont > a {
    width: 50%;
  }

  #services-dropdown p.title{
    color: white;
    font-weight: 300;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
  }

  #services-dropdown p.title:hover{
    background: #7d7afb;
    cursor:pointer;
  }

}

#services-dropdown .service-subterm-cont {
  background: #b4b3fd;
  display: none;
  left: 0;
  justify-content: space-around;
  padding: 0 60px;
  position: absolute;
  width: 100%;
}

#services-dropdown .service-term-button-cont{
  width: 20%;
}

#services-dropdown .service-term-button-cont.state-active .service-subterm-cont{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.service-subterm-button{
  position: relative;
}

.service-subterm-button:active {
  background: #8f8aff;
}

.service-term-button-cont.state-active > .service-subterm-button:after{
  animation: sway 1s;
  background: #b4b3fd;
  content: "";
  height: 20px;
  width: 20px;
  margin-left: -7px;
  position: absolute;
    bottom: -12.5px;
    left: 50%;
  -webkit-transform: translate(0px, 0px) rotateZ(45deg);
      -ms-transform: translate(0px, 0px) rotateZ(45deg);
          transform: translate(0px, 0px) rotateZ(45deg);
}

.service-subterm-cont > a:hover {
  background: #a19ffc;
}