.about-section{
  background: -moz-linear-gradient(top, #443cff 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, #443cff 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #443cff 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#443cff', endColorstr='#00ffffff',GradientType=0 );
}

.about-section h1{
  width: 100%;
}

.about-section h1.about-excerpt {
  margin-top: -15px;
  position: relative;
  z-index: 1;
}

.alternate-content{
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  top: 0;
}

.alternate-content .landing-face {
  @media(min-width:768px){
    display: none;
  }
}

.alternate-content p {
  float: left;
}

.alternate-content *{
  color: white;
}

.alternate-content > p:first-child{
  margin-top: 0;
}

.alternate-content > ul {
  margin-top: 10px;
}

.alternate-content > ul > .button{
  margin-top: 0;
  letter-spacing: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: none;
  &:nth-of-type(odd){
    background: #8f8aff;
  }
  &:nth-of-type(even){
    background: #7c77ff;
  }
  @media(min-width:768px){
    background: transparent !important;
    display: block;
    padding-top: 0;
    overflow: hidden;
    text-align: left;
  }
}

.alternate-content{
  transition: opacity 0.3s linear 0s max-height 0.3s linear 0.3s;
  @media(min-width:768px){
    transition: opacity 0.3s linear 0s;
  }
}

.alternate-content-buttons {
  @media(min-width:768px){
    width: 45%;
    float: right;
    font-size: 26px;
    a {
      h3 {
        font-size: 26px;
      }
      &:nth-of-type(1) > h3 {
        transform: translate(0px, 220px);
        transition: transform 1.6s;
      }
      &:nth-of-type(2) > h3 {
        transform: translate(0px, 220px);
        transition: transform 2s;
      }
      &:nth-of-type(3) > h3 {
        transform: translate(0px, 240px);
        transition: transform 2.2s;
      }
      &:nth-of-type(4) > h3 {
        transform: translate(0px, 260px);
        transition: transform 2.4s;
      }
      &:nth-of-type(5) > h3 {
        transform: translate(0px, 280px);
        transition: transform 2.6s;
      }
      &:nth-of-type(6) >h3 {
        transform: translate(0px, 300px);
        transition: transform 2.8s;
      }
    }
  }
}

.alternate-content-text {
  @media(min-width:768px){
    display: inline-block;
    width: 45%;
    .include {
      display: none;
    }
  }
}

.default-content{
  overflow: hidden;
  max-height: 95px;
  transition: opacity 0.3s linear 0.3s, max-height 0.3s linear 0s;
  @media(min-width:425px){
    max-height: 135px;
  }
  @media(min-width:768px){
    max-height: 175px;
    transition: opacity 0.3s linear 0.3s;
  }
}

.dynamic-content-cont{
  position: relative;
  transition: 1s linear;
}

a#change-landing {
  @media(min-width:768px){
    background: transparent;
    text-align: left;
    font-size: 48px;
    font-weight: 500;
    text-transform: capitalize;
    position: absolute;
    top: 410px;
    width: 50%;
  }
}

a#change-landing.state-alternate {
  @media(min-width:768px){
    color: white;
    margin-top: 0;
    padding-top: 0;
    width: 45%;
    transition: 1s;
    position: absolute;
    width: 50%;
    top: 450px;
  }
}

.landing-face {
  @media(min-width:768px){
    position: relative;
    top: 175px;
  }
}

.landing-face.state-alternate {
  display: none;
}

section#radial-background {
  @media(min-width:768px){
    height: 600px;
  }
}

section.state-alternate{
  background: $blue !important;
  @media(min-width:768px){
    height: 600px;
    .button h3 {
      transform: translate(0, 0);
    }
  }
}

section.state-alternate .default-content{
  max-height: 0px;
  opacity: 0;
  transition: opacity 0.3s linear 0s, max-height 0.3s linear 0.3s;
  @media(min-width:768px){
    transition: opacity 0.3s linear 0s;
  }
}

section.state-alternate .alternate-content{
  max-height: 365px;
  opacity: 1;
  transition: opacity 0.6s linear 0.9s, max-height 0.3s linear 0.6s;
  @media(min-width:425px){
    max-height: 410px;
  }
  @media(min-width:768px){
    max-height: 450px;
    position: relative;
    transition: opacity 0.6s linear 0.9s;
    top: -50px;
  }
}