.about-section{
  background: -moz-linear-gradient(top, #443cff 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, #443cff 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #443cff 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#443cff', endColorstr='#00ffffff',GradientType=0 );
}

.about-section h1{
  width: 100%;
}

.about-section h1.about-excerpt {
  margin-top: -15px;
  position: relative;
  z-index: 1;
  @media(min-width:768px){
    position: absolute;
    top: 320px;
    width: 70%;
  }
  @media(min-width:1024px){
    width: 55%;
  }
}

.about-section > p {
  @media(min-width:768px){
    margin-left: 30%;
    width: 70%;
  }
  @media(min-width:1024px){
    margin-left: 40%;
    width: 60%;
  }
}

.alternate-content{
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  top: 0;
}

.alternate-content .landing-face {
  @media(min-width:768px){
    display: none;
  }
}

.alternate-content *{
  color: white;
}

.alternate-content > p:first-child{
  margin-top: 0;
}

.alternate-content > ul {
  margin-top: 10px;
}

.alternate-content > ul > .button{
  margin-top: 0;
  letter-spacing: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: none;
  &:nth-of-type(odd){
    background: #8f8aff;
  }
  &:nth-of-type(even){
    background: #7c77ff;
  }
  @media(min-width:768px){
    background: transparent !important;
    display: block;
    padding-top: 0;
    padding-bottom: 5px;
    overflow: hidden;
    text-align: left;
  }
}

.alternate-content{
  transition: opacity 0.3s linear 0s, max-height 0.3s linear 0.3s;
  @media(min-width:768px){
    transition: opacity 0.3s linear 0s;
  }
}

.alternate-content-buttons {
  @media(min-width:768px){
    width: 45%;
    float: right;
    font-size: 26px;
  }
}

.alternate-content-buttons > a > h3 {
  @media(min-width:768px){
    font-size: 26px;
    transform: translate(0px, 100px);
    transition: 0.3s;
    transition-delay: 0s;
  }
  @media(min-width:1024px){
    font-size: 32px;
  }
}

.alternate-content-text {
  @media(min-width:768px){
    display: inline-block;
    width: 45%;
    .include {
      display: none;
    }
  }
  @media(min-width:1024px){
    p {
      font-size: 22px;
    }
  }
}

.default-content{
  overflow: hidden;
  max-height: 95px;
  transition: opacity 0.3s linear 0.3s, max-height 0.3s linear 0s;
  @media(min-width:425px){
    max-height: 135px;
  }
  @media(min-width:768px){
    max-height: 175px;
    transition: opacity 0.3s linear 0.3s;
  }
}

.dynamic-content-cont{
  .default-content-desktop {
    display: none;
  }
  position: relative;
  transition: 1s linear;
  @media(min-width:768px){
    min-height: 200px;
  }
  @media(min-width:1024px){
    .default-content {
      display: none;
    }
    .default-content-desktop {
      display: block;
      font-size: 42px;
    }
  }
}

a#change-landing {
  @media(min-width:768px){
    background: transparent;
    cursor: pointer;
    text-align: left;
    font-size: 42px;
    font-weight: 300;
    padding: 0 0;
    margin-top: 0px;
    position: absolute;
    text-transform: capitalize;
    transition: 1s;
    transform: translate(0px, 0px);
    width: 300px;
  }
  @media(min-width:1024px){
    font-size: 52px;
    margin-top: -15px;
  }
}

a#change-landing.state-alternate {
  @media(min-width:768px){
    color: $blue;
    transform: translate(0px, 50px);
  }
}

.landing-face {
  display: none;
  @media(min-width:768px){
    display: block;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}

.landing-face.state-alternate {
  display: none;
}

.landing-face > img {
  position: absolute;
    top: 0;
    left: 0;
  transition: 0.3s;
}

.landing-face > img:first-of-type {
  position: relative;
  height: 75px;
  @media(min-width:1024px){
    height: 100px;
  }
}

.landing-face > img.eyeball {
  animation: lookaround 3s infinite ease-in-out;
}

.landing-face:hover > img.nose {
  transform: translate(0px, 5px);
}

section#radial-background {
  @media(min-width:768px){
    height: 600px;
  }
}

section.state-alternate{
  background: $blue !important;
  @media(min-width:768px){
    height: 600px;
    .button h3 {
      transform: translate(0, 0);
    }
  }
}

section.state-alternate .default-content{
  max-height: 0px;
  opacity: 0;
  transition: opacity 0.3s linear 0s, max-height 0.3s linear 0.3s;
  @media(min-width:768px){
    transition: opacity 0.3s linear 0s;
  }
}

section.state-alternate .default-content-desktop {
  display: none;
}

section.state-alternate .alternate-content{
  max-height: 410px;
  opacity: 1;
  transition: opacity 0.6s linear 0.9s, max-height 0.3s linear 0.6s;
  @media(min-width:768px){
    position: relative;
    transition: opacity 0.6s linear 0s;
    top: -45px;
  }
}

section.state-alternate .alternate-content > ul > a{
  transition: 0.5s;
  @media(min-width:768px){
    &:nth-of-type(1) > h3 {transition-delay: 0.3s}
    &:nth-of-type(2) > h3 {transition-delay: 0.5s}
    &:nth-of-type(3) > h3 {transition-delay: 0.7s}
    &:nth-of-type(4) > h3 {transition-delay: 0.9s}
    &:nth-of-type(5) > h3 {transition-delay: 1.1s}
    &:nth-of-type(6) > h3 {transition-delay: 1.3s}
  }
}