#featured-service-snippets{
  margin-top: 15px;
}


#featured-service-snippets > .slick-list {
  padding-right: 15px;
}

#featured-service-snippets .slick-slide {
  margin-right: 15px;
}

.services-icon-post {
  align-items: center;
  background: $light-purple;
  display: flex;
  flex-direction: column;
  height: 175px;
  justify-content: flex-start;
  padding: 30px 15px 0px 15px;;
  width: 100%;
  text-align: center;
}


.services-icon-post > img {
  width: 60px;
}

.services-icon-post > p {
  font-family: Walsheim;
  margin-top: 5px;
}

.services-icon-post > .more-info-plus {
  background: $service-plus;
  border-radius: 50%;
  color: $light-purple;
  font-size: 14px;
  margin-top: 5px;
  height: 20px;
  width: 20px;

  margin: 10px auto;
  border-radius: 50%;
  transition: 0.3s;
  p {
    color: $light-purple;
    font-size: 14px;
    cursor: default;
  }
  &:hover {
    background: $desktop-submenu-1-hover;
    transition: 0.3s;
  }
  
}

.selected-logos a {
  display: block;
  margin-top: 15px;
}

.selected-logos div{
  background-size: cover;
  background-position: center;
  padding-top: 50%;
}

.service-info {
  margin: 20px 0;
  h1 {
    font-size: 12px;
    margin: 10px 0;
  }
  h3 {
    width: 70%;
  }
  @media (min-width: 768px) {
    h3{
      width: 60%;
    }
    p {
      width: 70%;
    }
    h1 {
      font-size: 18px;
    }
  }
}

.service-overlay {
  background-color: rgba(68,60,255,0.95);
  opacity: 0;
  transition: opacity 0.5s;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  z-index: 10002;
  pointer-events: none;
}

.service-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.service-overlay > * {
  color: white !important;
}

.service-overlay img {
  position: absolute;
    bottom: 100%;
  margin-bottom: 10px;
  width: 60px;
}

.service-overlay-exit {
  position: absolute;
    top: 15px;
    right: 15px;
}

.service-overlay-content{
  position: relative;
  transform: translate(0px, 100vh);
  transition: 1s;
}

.service-overlay.active .service-overlay-content{
  transform: translate(0px, 0px);
}



@media (min-width: 768px) {
  .services-snippets-container {
    align-items: center;
    background: $light-purple;
    display: flex;
    flex-direction: column;
    margin: 45px 0;
    padding: 50px 0;
  }

  .services-icon-post {
    padding: 10px 20px;
  }

  .services-icons-slider {
    padding: 0 20px;
  }

  .selected-logos {
    h3 {
      font-size: 16px;
    }
    .image-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -15px;
      a {
        width: 50%;
        padding: 0 15px;
      }
      img {
        margin: 15px 0;
      }
    }
  }

  #service-overlay-exit {
    margin: 15px;
  }

  .service-overlay-content {
    display: flex;
    margin-top: 200px;
    margin: 200px 0 0 -100px;
    justify-content: center;
    padding-top: 800px;
    .snippet-icon-container {
      float: left;
      margin: 0 15px;
      width: 100px;
    }
    .snippet-content-container {
      float: left;
      width: 60%;
      h3 {
        font-size: 44px;
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  .services-icon-post {
    width: 140px;
    img {
      width: 100px;
    }
  }

  .service-info p {
    width: 60%;
  }

  .services-icons-slider {
    padding: 0 100px;
  }

  .selected-logos img {
    margin: 22.5px 0;
  }
}




