.filter-selector {
  background: tomato;
  border: 1px solid black;
  width: 100%;
}

.category-dropdown {
  background: peachpuff;
  border: 1px solid black;
  width: 100%;
  ul li {
    border: 1px solid black;
    display: block;
  }
}

