#blog-post-container .blog-post:first-of-type{
  @media(min-width:768px){
    padding-top: 60px;
  }
}

#blog-post-content {
  padding-top: 18px;
  @media(min-width:768px){
    margin: 0 auto;
    padding-top: 45px;
    width: 75%;
  }
}

#blog-post-content *{
  font-family: arno-pro;
}

#blog-post-content blockquote{
  border: none;
  margin: 0;
  padding: 30px 0 30px 0;
  position: relative;
  &:before{
    background-color: #ecebfe;
    content: "";
    height: 50%;
    pointer-events: none;
    position: absolute;
      left: 0;
      top: 0;
    width: 100%;
    z-index: -1;
  }
  &:after{
    background: url('./dist/icons/twitter.svg');
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    top: -15px;
    left: 15px;
    @media(min-width:768px){
      top: 15px;
    }
  }
}

#blog-post-content blockquote * {
  font-size: 15px;
  font-family: Walsheim;
  font-weight: 300;
  @media(min-width:768px){
    font-size: 20px;
    padding: 0px 30px;
  }
}

#blog-post-content blockquote > p:first-of-type{
  &:before{
    content: "\"";
  }
  &:after{
    content: "\"";
  }
}

#blog-post-content blockquote > p:last-of-type:not(:first-of-type){
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 10px;
  text-transform: uppercase;
}

#blog-post-content blockquote > .blockquote-tweet {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#blog-post-content > h6{
  font-family: Walsheim;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 30px;
  text-transform: uppercase;
  @media(min-width:768px){
    margin-top: 45px;
  }
}

#blog-post-content > p{
  @media(min-width:768px){
    margin-top: 20px;
  }
}

#blog-post-content .gallery {
  margin-top: 20px;
  @media(min-width:768px){
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

#blog-post-content .gallery img{
  border: 0;
  height: auto;
  max-width: 100%;
}

#blog-post-content > .gallery > br:not(:last-of-type){
  @media(min-width:768px){
    display: none;
  }
}

#blog-post-content > .gallery > .gallery-item {
  margin: 7.5px 0;
  @media(min-width:768px){
    &:nth-of-type(1),
    &:nth-of-type(2){
      margin-top: 0;
      width: calc(50% - 7.5px);
    }
    &:nth-of-type(1){
      margin-right: 7.5px;
    }
    &:nth-of-type(2){
      margin-left: 7.5px;
    }
  }
}

#blog-post-content .gallery .gallery-caption {
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  margin-top: 12px;
  text-align: left;
}

#blog-post-custom-fields{
  @media(min-width:768px){
    margin: 0 auto;
    width: 75%;
  }
}

#blog-post-custom-fields a.button{
  margin-top: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
  @media(min-width:768px){
    display: block;
    margin: 45px auto 0px auto;
    width: 300px;
  }
}

#blog-post-custom-fields .citation-cont{
  margin-top: 45px;
  @media(min-width:768px){
    margin-top: 75px;
  }
}

#blog-post-custom-fields .citation-cont > p.title{
  color: $blue;
  opacity: 0.75;
}

#blog-post-custom-fields .citation:not(:first-of-type){
  margin-top: 30px;
}

#blog-post-custom-fields .citation > *{
  font-style: italic;
  opacity: 0.75;
  @media(min-width: 768px){
    font-size: 16px;
  }
}

#blog-post-custom-fields .citation > a{
  text-decoration: underline;
  @media(min-width: 768px){
    font-size: 14px;
  }
}

#blog-related-posts-cont{
  margin-top: 45px;
  @media(min-width:768px){
    margin-top: 75px;
  }
}

#blog-related-posts-cont > p.title{
  color: $blue;
  margin-bottom: 30px;
}

#blog-related-posts-cont .slide-inner-cont > h3 {
  @media(min-width:768px){
    font-size: 16px;
  }
}

.form-cont{
  background:rgba(68,60,255,0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  padding: 0 15px;
  pointer-events: none;
  position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
  transition: 1s;
  z-index: 30000;
  @media(min-width:768px){
    background:rgba(68,60,255,1);
    opacity: 1;
    padding: 75px 30px 45px 30px;
      top: auto;
      left: 28%;
      right: auto;
      bottom: -400px;
    width: 43%;
  }
}

.form-triangle {
  @media(min-width: 768px) {
    display: block;
    bottom: 7.5px;
  }
}

.form-triangle.triangle-active {
  @media(min-width: 768px) {
    background: $blue;
    height: 15px;
    width: 15px;
    position: absolute;
      left: 49%;
      bottom: -7.5px;
    transition: 0.1s;
    transform: rotateZ(45deg);
  }
}

.form-cont.state-active{
  pointer-events: auto;
  opacity: 1;
  @media(min-width:768px){
    transform: translate(0, -500px);
    transition: transform 0.5s;
  }
}

.form-cont *{
  color: white;
}

.form-cont > a.button{
  border: 1px solid white;
  @media(min-width:768px){
    display:none;
  }
}

.form-cont > p{
  margin-top: 6px;
  @media(min-width:768px){
    font-size: 16px;
    width: 85%;
  }
}

.form-cont > h3{
  @media(min-width:768px){
    font-size: 18px;
    &:last-of-type{
      display:none;
    }
  }
}

#mc_embed_signup{
  @media(min-width:768px){
    margin-top: 15px;
  }
}

#mc_embed_signup .submit-container input.button{
  @media(min-width:768px){
    margin-top: 30px;
  }
}

#share-bar{
  display: flex;
  position: fixed;
    bottom:-100%;
    left: 0;
    right: 0;
  transition: 1s;
  z-index: 30001;
}

#share-bar.state-active{
  bottom: 0;
}

#share-bar > div,
#share-bar > a {
  align-items: center;
  display: flex;
  justify-content: center;
}

#share-bar > #facebook-like{
  display:none;
  @media(min-width:768px){
    align-items: center;
    background: #7c77ff;
    display: flex;
    justify-content: center;
    width: 34%;
  }
}

#share-bar > #facebook-like > svg,
#share-bar > #facebook-like > img{
  height: 16px;
  position: relative;
  top: -2px;
}

#share-bar > .social-icons{
  background: #b4b1ff;
  padding: 10px 15px;
  width: 55%;
  @media(min-width:768px){
    width: 33%;
    padding: 10px 45px;
  }
}

#share-bar > .social-icons > a{
  display: inline-block;
  padding: 15px;
  width: 33%;
}

#share-bar > .social-icons > a > svg{
  height: 15px;
  width: 15px;
}

#share-bar > .form-prompt {
  background: #8f8aff;
  text-align: center;
  width: 45%;
  @media(min-width:768px){
    width: 33%;
  }
}

#share-bar > a > p.title {
  color: white;
  margin: 0;
}

#share-bar > a > img,
#share-bar > a > svg {
  height: 20px;
  width: 30px;
}

.single-post{
  padding-top: 0;
}

.wp-caption{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100% !important;
}

.wp-caption > img{
  height: auto;
  width: 100%;
}

.wp-caption > .wp-caption-text{
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
}
