blockquote{
  border-left: none;
  padding: 0px 0px 45px 0px;
  margin: 0;
}

blockquote p {
  font-family: Walsheim;
  font-size: 13px;
  margin-top: 0;
  text-align: center;
  @media(min-width:768px){
    font-size:20px;
    margin: 0 auto;
    width: 80%;
  }
}

blockquote p.title {
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 10px;
  text-transform: uppercase;
}

#animation{
  padding-bottom: 30px;
  @media(min-width:768px){
    padding-bottom: 45px;
  }
}

#blog-post-thumbnail{
  @media(min-width:768px){
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
  }
}

#font-section > div {
  @media(min-width:768px){
    display:inline-block;
    width: 49.5%;
  }
}

#font-section p.title{
  margin-top: 0;
}

@-webkit-keyframes fontappear{
  0%{
    transform: translate(0px, 60px);
    z-index: 1;
  }
  80%{
    transform: translate(0px, -20px);
    z-index: 3;
  }
  100%{
    transform: translate(0px, 0px);
  }
}

#font-section img.img-responsive{
  position: relative;
  transform: translate(0px, 60px);
  transition: 1s;
  z-index: 1;
}

#font-section img.state-active{
  animation: fontappear 1s;
  transform: translate(0px, 0px);
  z-index: 3; 
}

#font-section .separator,
#font-section p {
  position: relative;
  width: 100%;
  z-index: 2;
}

#font-section p:not(.title){
  font-family: Walsheim;
  font-size: 14px;
  margin-top: 0;
  padding-top: 12px;
}


.field-content{
  margin-bottom: 30px;
}

.full-size-container{
  margin-left: -15px;
  margin-right: -15px;
  @media(min-width:768px){
    margin-left: -30px;
    margin-right: -30px;
  }
}

.gallery{
  margin-top: 45px;
  margin-bottom: 45px;
}

.gallery-sub-cont{
  @media(min-width:768px){
    align-items: center;
    display: flex;
  }
}

.gallery-sub-cont > img{
  @media(min-width:768px){
    width: 33.3%;
  }
}

.gif-cont{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
  @media(min-width:768px){
    align-items: center;
    display:flex;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 45px;
  }
}

.gif-cont > img {
  @media(min-width:768px){
    width: 33.33333333%;
  }
}

.mid-size-container{
  padding-top: 15px;
}

.navigation{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 30px;
  @media(min-width:768px){
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 60px;
  }
}

.navigation-client{
  background-size: cover;
  background-position: center;
  position: relative;
  width: 50%;
  padding-top: 50%;
  @media(min-width:768px){
    padding-top: 35%;
    width: calc(50% - 7.5px);
  }
}

.navigation-client:first-of-type > .navigation-overlay{
  text-align:right;
  > img{
    left: 15px;
  }
  > svg{
    left: 15px;
  }
  &:hover{
    > img, svg {
      transform: translate(-45px);
    }
  }
  @media(min-width:768px){
    text-align: left;
  }
}

.navigation-client:last-of-type > .navigation-overlay{
  > img{
    right: 15px;
  }
  > svg{
    right: 15px;
  }
  &:hover{
    > img, svg {
      transform: translate(45px);
    }
  }
}

.navigation-overlay{
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  transition: 0.3s;
  @media(min-width:768px){
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
  }
}

.navigation-overlay:hover{
  @media(min-width:768px){
    background-color: rgba(0,0,0,0) !important;
  }
}

.navigation-overlay:hover p.title{
  @media(min-width:768px){
    color: $blue !important;
    transition: 0.3s;
  }
}

.navigation-overlay > p.title{
  @media(min-width:768px){
    font-size: 36px;
    font-weight: 300;
    letter-spacing: initial;
    line-height: 1.2;
    margin-top: 6px;
    margin-left: -2px;
    text-transform: none;
  }
}

.navigation-overlay > img,
.navigation-overlay > svg {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  fill: inherit;
  padding: 10px;
  position: absolute;
    top: 45%;
  height: 40px;
  width: 40px;
  transition: 0.3s;
  @media(min-width:768px){
    display:none;
  }
}

.navigation-overlay > svg > polygon{
  fill: inherit;
}

.navigation-overlay > span {
  display:none;
  @media(min-width:768px){
    display:block;
  }
}

.portfolio-section{
  padding-bottom: 0;
  @media(min-width:768px){
    padding-bottom: 90px;
  }
}

.portfolio-section *,
.portfolio-section p.title {
  color: inherit;
}

.portfolio-section > p{
  @media(min-width:768px){
    width: 70%;
  }
}

.portfolio-section > div > p{
  @media(min-width:768px){
    width: 70%;
  }
}

.portfolio-section h1{
  margin-top: 12px;
  width: 100%;
}

.portfolio-section > h3 {
  margin-top: 45px;
}

#print-and-packaging{
  margin-top: 0;
}

#print-and-packaging > p.title {
  margin-top: 30px;
  @media(min-width:768px){
    margin-top: 45px;
  }
}

.print-sub-images-container {
  @media(min-width:768px){
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.print-sub-images-container > img {
  margin-top: 15px;
  @media(min-width:768px){
    width: calc(50% - 7.5px);
  }
}

.responsive-container{
  margin-top: 30px;
  margin-bottom: 30px;
}

.separator{
  border-top: 1px solid;
  margin-top: -83px;
  padding-bottom: 20px;
  @media(min-width:768px){
    margin-top: -86px;
  }
}

#web-and-seo{
  margin-top: calc(45px + 100px);
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 45px;
  @media(min-width:768px){
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: calc(75px + 100px);
  }
}

.website-cont{
  margin-bottom: -80px;
  position: relative;
    top: -100px;
  @media(min-width:768px){
    margin: 0 auto -80px auto;
    top: -115px;
    width: calc(75% - 60px);
  }
}

.website-cont > div{
  box-shadow: 0px 5px 45px -5px rgba(0,0,0,0.5);
  height: 200px;
  overflow: scroll;
  @media(min-width: 768px){
    height: 275px;
  }
}

.website-cont > img {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  box-shadow: 0px -7px 45px -5px rgba(0,0,0,0.5);
}

.website-mobile-cont{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  @media(min-width:768px){
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    width: 33%;
  }
}

.website-mobile-cont > img:nth-of-type(1) {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  box-shadow: 0px -7px 45px -12px rgba(0,0,0,0.5);
}

.website-mobile-cont > img:nth-of-type(2) {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0px 7px 45px -12px rgba(0,0,0,0.5);
}

.website-mobile-flat{
  box-shadow: 0px 0px 50px black;
  height: 300px;
  overflow: scroll;
}