.fade-slide-container > .slick-dots{
  align-items: flex-end;
  display:flex;
  flex-direction: column;
    top:10px;
    bottom: auto;
}

#featured-team-members{
  padding-top: 45px;
}

#featured-team-members .slide {
  margin-left: 7.5px;
  margin-right: 7.5px;
}

#featured-team-members .slide-image-cont{
  height: auto;
  margin-bottom: 7.5px;
  padding-top: 100%;
}


#featured-case-studies{
  margin-top: 15px;
}

#home-case-studies  {
  @media( min-width: 768px) {
    .featured-case-studies-button {
      font-size: 8px;
      margin-left: -10px;
      padding: 20px 10px;
      position: absolute;
      width: 22%;
      z-index: 10;
    }
    h3 {
      position: absolute;
      top: 40px;
      width: 50%;
      z-index: 10;
    }
    ul {
      position: absolute;
      top: 130px;
    }

    span {
      display: inline-block;
      transform: translate(0, 150px);
    }

    .slide-inner-cont li {
      overflow: hidden;
    }

    .slick-active li {
      display: inline-block;
      overflow: hidden;
      &:nth-of-type(1) span {
        transform: translate(0, 0);
        transition: transform 1s;
      }
      &:nth-of-type(2) span {
        transform: translate(0, 0);
        transition: transform 1.5s;
      }
    }

    .slick-dots {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
    }
    .slide-image-cont {
      height: 400px;
      margin: 0 30px;
    }
    .slick-dots {
      height: 0px;
      margin-top: -100px;
      margin-left: 5px;
      position: absolute;
      li[aria-hidden="true"] button:before {
        color: $blue;
        opacity: 0.3;
      }
    }
  }
}

.slick-dotted.slick-slider{
  margin-bottom: 0;
}

.slick-dots li {
  margin: 0px 10px;
}

.slick-dots li button:before{
  color: white;
  font-size: 15px;
  opacity: 1;
}

.slick-dots li.slick-active button:before{
  color: $blue;
  opacity: 1;
}

.slide{
  margin-left: 3.75px;
  margin-right: 3.75px;
}

.slide-container{
  margin-left: -15px;
  margin-right: -15px;
}

.slide-image-cont {
  background-size: cover;
  background-position: center;
  display: block;
  height: 175px;
  @media(min-width:425px){
    height: 225px;
  }
  @media (min-width:768px) {
    height: 500px;
  }
}

.slide-inner-cont h1{
  font-size: 30px;
  font-weight: 900;
  &:first-of-type{margin-top: 10px;}
  &:last-of-type{margin-bottom: 10px;}
}

.slide-inner-cont h3{
  max-width: 90%;
  padding-top: 7.5px;
  padding-bottom: 2.5px;
}

.slide-inner-cont p.title{
  color: $blue;
  margin: 0;
}