#about-slider{
  @media(min-width:768px){
    left: 30%;
    width:70%;
  }
}

.featured-case-studies-face {
  display: none;
  @media(min-width:768px){
    display: block;
    position: absolute;
      right: 30px;
      bottom: 120px;
    z-index: 1;
  }
}

.featured-case-studies-face > img {
  position: absolute;
    top: 0;
    left: 0;
}

.featured-case-studies-face > img:first-of-type{
  height: 45px;
  position: initial;
}

.featured-case-studies-face > img.eyeball {
  animation: lookaround 3s infinite ease-in-out;
}


#featured-team-members .slick-list{
  @media(min-width:768px){
    padding-top: 135px !important;
  }
}

#featured-team-members .slide-inner-cont{
  position: relative;
}

#featured-team-members .slide-inner-cont > h1{
  @media(min-width:768px){
    font-size: 40px;
    line-height:1.05;
  }
}

#featured-team-members .slide-inner-cont > h1:first-of-type{
  @media(min-width:768px){
    margin-top: -30px;
  }
}

#featured-team-members .slide-inner-cont > h1,
#featured-team-members .slide-inner-cont > p {
  @media(min-width:768px){
    position: relative;
    left: 40%;
  }
}

#featured-team-members .slide-inner-cont > img{
  display:none;
  @media(min-width:768px){
    display: block;
    position: absolute;
      left: -50px;
      top: -50px;
    height: auto;
    width: 100px;
    z-index: 2;
  }
}

#featured-team-members .slide-inner-cont > img.fun-fact{
  @media(min-width:768px){
    opacity: 0;
    top: -80px;
    transform: rotateZ(180deg);
    transform-origin: bottom center;
    transition: 0.3s;
    height: 30px;
  }
}

#featured-team-members .slide-inner-cont > a > h3{
  font-family: arno-pro;
  font-size: 26px;
  font-style: italic;
  color: white;
  position: absolute;
  max-width: none;
  opacity: 0;
  padding-top: 55%;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
  text-align: center;
  transition: 0.3s;
}

#featured-team-members .slide-inner-cont > a > .overlay {
  background:rgba(68,60,255,0.8);
  opacity: 0;
  transition: 0.3s;
}

#featured-team-members .slick-slide:hover .slide-inner-cont{
  > a > h3 {
    opacity: 1;
  }
  > a > .overlay {
    opacity: 1;
  }

  >img.fun-fact {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

#featured-team-members-controller{
  display: none;
  @media(min-width:768px){
    display: block;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 100px;
  }
}

#featured-team-members-controller > .slick-arrow{
}

#featured-team-members-controller > .slick-arrow:before{
  color: $blue;
  opacity: 1;
}

#featured-team-members-controller > img{
  width: 70px;
}

#blog-related-posts > .slick-arrow{
  background: #7c77ff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: absolute;
    top: 42%;
  z-index: 3;
}

#blog-related-posts > .slick-arrow:before{
  content: "";
  opacity: 1;
}

#blog-related-posts > .slick-prev{
  left: 30px;
  &:before{
    background: url('./dist/icons/arrow-left.svg');
    background-size:contain;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    position: absolute;
      top: 22px;
      left: 15px;
  }
}
#blog-related-posts > .slick-next{
  right: 30px;
  &:before{
    background: url('./dist/icons/arrow-right.svg');
    background-size:contain;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    position: absolute;
      top: 22px;
      left: 19px;
  }
}

.fade-slide-container > .slick-dots{
  align-items: flex-end;
  display:flex;
  flex-direction: column;
    top:10px;
    bottom: auto;
}

#featured-team-members{
  padding-top: 45px;
  @media(min-width:768px){
    padding-top:0px;
  }
}

#featured-team-members .slide {
  margin-left: 7.5px;
  margin-right: 7.5px;
  @media(min-width:768px){
    margin-left: 45px;
    margin-right: 45px;
  }
}

#featured-team-members .slide-image-cont{
  height: auto;
  margin-bottom: 7.5px;
  padding-top: 100%;
  position: relative;
}


#featured-case-studies{
  margin-top: 15px;
  margin-left: -15px;
  margin-right: -15px;
  @media(min-width:768px){
    margin-left: 0;
    margin-right: 0;
    margin-top: -30px;;
  }
}

#featured-case-studies h3{
  @media(min-width:768px){
    position: absolute;
    top: 45px;
    transition: 1s;
    transform: translate(0px, 45px);
    width: 60%;
  }
}

#featured-case-studies .slide-inner-cont > ul > li {
  @media(min-width:768px){
    line-height: 16px;
    overflow:hidden;
    &:nth-of-type(1) > span{transition-delay:0.2s;}
    &:nth-of-type(2) > span{transition-delay:0.4s;}
    &:nth-of-type(3) > span{transition-delay:0.6s;}
    &:nth-of-type(4) > span{transition-delay:0.8s;}
    &:nth-of-type(5) > span{transition-delay:1.0s;}
    &:nth-of-type(6) > span{transition-delay:1.2s;}
  }
}

#featured-case-studies .slide-inner-cont > ul > li > span{
  font-family: arno-pro;
  @media(min-width:768px){
    display: inline-block;
    font-size: 16px;
    transform: translate(0px, 100px);
    transition: 0.6s;
  }
}

#featured-case-studies .slick-active > .slide-inner-cont > a {
  @media(min-width:768px){
    transform: translate(0px, 0px);
  }
}

#featured-case-studies .slick-active > .slide-inner-cont > h3 {
  @media(min-width:768px){
    transform: translate(0px, 0px);
  }
}

#featured-case-studies .slick-active > .slide-inner-cont > ul > li > span{
  @media(min-width:768px){
    display: inline-block;
    transform: translate(0px, 0px);
  }
}

#featured-case-studies .slide-inner-cont > ul > li:not(:last-of-type) > span{
  &:after{
    content: ", ";
  }
}

#featured-case-studies .slick-dots {
  @media(min-width:768px){
    height: auto;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    li[aria-hidden="true"] button:before {
      color: $blue;
      opacity: 0.3;
    }
  }
}

#featured-case-studies ul{
  @media(min-width:768px){
    max-width: 50%;
    position: absolute;
    top: 140px;
  }
}

#featured-case-studies .slide {
  @media(min-width:768px){
    margin-left: 0;
    margin-right: 0;
  }
}

#featured-case-studies .slide-image-cont {
  @media(min-width:768px){
    height: 350px;
    margin: 0 45px 0 45px;
    position: relative;
    transition: 1s;
    transform: translate(0, 30px);
  }
}

#featured-case-studies .slide-image-cont > .overlay {
  @media(min-width:768px){
    background: black;
    opacity: 0.8;
  }
}

#featured-case-studies-button{
  z-index: 1;
  @media(min-width:768px){
    width: auto;
    padding-left: 45px;
    padding-right: 45px;
  }
}

#home-case-studies  {
  @media(min-width:768px) {
    padding-top: 75px;
    padding-bottom: 120px;
    position: relative;
    span {
      display: inline-block;
      transform: translate(0, 150px);
    }

    .slick-dots {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
    }
  }
}

.slick-dotted.slick-slider{
  margin-bottom: 0;
}

.slick-dots li {
  margin: 0px 10px;
}

.slick-dots li button:before{
  color: white;
  font-size: 15px;
  opacity: 1;
}

.slick-dots li.slick-active button:before{
  color: $blue;
  opacity: 1;
}

.slide{
  margin-left: 3.75px;
  margin-right: 3.75px;
}

.slide-container{
  margin-left: -15px;
  margin-right: -15px;
  @media(min-width:768px){
    margin-left: -30px;
    margin-right: -30px;
  }
}

.slide-image-cont {
  background-size: cover;
  background-position: center;
  display: block;
  height: 175px;
  @media(min-width:425px){
    height: 225px;
  }
  @media (min-width:768px) {
    height: 500px;
  }
}

.slide-inner-cont h1{
  font-size: 30px;
  font-weight: 900;
  &:first-of-type{margin-top: 10px;}
  &:last-of-type{margin-bottom: 10px;}
}

.slide-inner-cont h3{
  max-width: 90%;
  padding-top: 7.5px;
  padding-bottom: 2.5px;
}

.slide-inner-cont p.title{
  color: $blue;
  margin: 0;
}