#featured-case-studies{
  margin-top: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.slide{
  margin-left: 3.75px;
  margin-right: 3.75px;
}

.slide-image-cont {
  background-size: cover;
  background-position: center;
  display: block;
  height: 175px;
}

.slide-inner-cont h3{
  padding-top: 7.5px;
  padding-bottom: 2.5px;
}